<%- include ("partials/header") %>

<section class="task-list">
    <div class="container">
        <div>
            <h1 class="my-5">Tasks</h1>
            
            <ul id="list" class="list">
            </ul>


            <section class="form">
                <img id="add-task-button" src="../assets/Plus_button_small.png" alt="">
                <input type="text" id="todoInput" placeholder="Insert your task here...">
                
            </section>
            

        </div>
    </div>
</section>


<script type="module" src="scripts/task.js"></script>


<%- include ("partials/footer") %>