body {
    background-image: url("../assets/Background.png");
}

#login-form {
    height: 50vh;
}

h1 {
    font-size: 4rem;
    color: white;
}

#login-form input {
    color: white;
    font-size: 1.5rem;
}

#login-form input[type=image] {
    width: 20rem;
}

.form-control {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 3px solid white;
    background-image: none !important;
}

.form-control:focus{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    background-image: none !important;
    box-shadow:none;
}

.form-control::placeholder {
    color: white;
    font-size: 1.5rem;
}


#signupLink {
    font-size: 2.5rem;
    color: white;
}

#signupLink a {
    color: #FFE65E;
    text-decoration: none;
}


#upload {
font-size: 2rem;
color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* HOME */
.yellow-container img {
    max-width: 100%;
}

.yellow-container a {
    color: black;
}


.yellow-container-header {
font-size: 2rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.yellow-container-content {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  width: 75%
}

 .task-summary .list {
     list-style: none;
    text-align: left;
    margin-top: -1.0rem;
    margin-left: -1.0rem;
}

.task-summary .task{
    line-height: 30px;
    height: 60px;
	padding: 20px 0px;
	color: black;
    border-bottom: 2px solid black;

}

.task-summary .task-checkbox {
    height: 30px;
    float: right;
}

.task-summary li span {
  opacity: 0;
}








/* NEWS */
#news-content {
    font-size: 1rem; 
}

#news-header {
    font-size: 1.1rem; 
    font-weight: bold;
}



/* PHOTOS */
.gallery-image {
    height: 100%;
}

.form-group.gallery , 
.form-group.gallery label {
    margin-bottom: 0px;
}

#upload {
    height: 75%;
}






/* TASKS */

section.task-list .form {
	width: 800px;
	margin: 50px auto 20px;
}

section.task-list #todoInput {
	width: 87%;
    height: 100px;
    line-height: 100px;
	background: none;
	border: none;
	border-bottom: 2px solid white;
	outline: none;
	font-size: 1.5rem;
	padding: 20px;
    color: white;
    display: none;
    margin-bottom: 40px;

}

section.task-list #add-task-button {
    margin-left: 30px;
    margin-bottom: 40px;
}

input#todoInput::placeholder {
    color: white;
    opacity: 0.6;
}


section.task-list .list {
	width: 800px;
    margin: 0 auto;
    list-style: none;
}
section.task-list .task {
	width: 100%;
    line-height: 100px;
    height: 100px;
	font-size: 1.5rem;
	padding: 20px 0px;
	color: white;
    transition: all .3s ease;
    border-bottom: 2px solid white;
    display: inline-block;
}

section.task-list .list .task-checkbox {
    height: 60px;
    float: right;
}


section.task-list .task:hover {
	background: rgba(0, 0, 0, .02);
	cursor: pointer;
}

section.task-list .task:hover span{
    opacity: 1;
}

.done {
	text-decoration: line-through;
	color: #bdc3c7;
}

section.task-list li span {
  float: right;
  color: #c0392b;
  transition: all 0.3s;
  opacity: 0;
  margin: 0 20px;
}

section.task-list li span:hover {
  color: #e74c3c
}